*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(135deg, #0f172a, #1e293b); 
}
h1{
    position: relative;
    top: 20px;
    color: rgba(130, 130, 231, 0.849);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    text-transform: uppercase;
    font-size: 50px;
    text-shadow:0px 0px 40px rgba(23, 26, 65, 0.747)
    ;
}
.items{
    position: relative;
    background-color: transparent;
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 230px;
    margin-top: 40px;
    border-radius: 50px;
    box-shadow: 2px 3px 30px,2px 3px 40px rgba(255, 255, 255, 0.384) inset;

}
.stone{
    background-color:rgb(252, 13, 13);
    border-radius:20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 60px rgb(236, 7, 7);
    transition: all 0.4s;



    
}
.stone:hover{
    background-color:rgba(241, 241, 241, 0.993) ;
}
.paper{
    background-color:rgb(28, 255, 7);
    border-radius:20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 60px rgb(45, 236, 7);
        transition: all 0.4s;



    
}
.paper:hover{
    background-color:rgb(241, 241, 241) ;
}
.scisor{
    background-color:rgb(37, 0, 245);
    border-radius:20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 60px rgb(11, 7, 236);
    transition: all 0.4s;

}


.scisor:hover{
    background-color:rgba(255, 255, 255, 0.993) ;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.player{
    position: absolute;
    background: url(img/select.jfif);  
    background-position: center;
    background-size: cover;
    border-radius:20px;
    margin: 10px;
    width: 250px;
    height: 250px;
    bottom: 150px;
    left: 50px;
    transform-origin: center left;
    animation: shake 3s infinite;
    box-shadow: 10px 10px 60px white;
    transition: all 0.4s;

    
    
}
.bot{
    position: absolute;
    background: url(img/select.jfif);  
    background-size: cover;
    border-radius:20px;
    margin: 10px;
    width: 250px;
    height: 250px;
    bottom: 150px;
    left: 530px;
    transform-origin: center right;
    animation: shake 3s infinite;
    box-shadow: 10px 10px 60px white;

}
@keyframes shake {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(5deg);}
    20% {transform: rotate(-5deg);}
    30% {transform: rotate(5deg);}
    40% {transform: rotate(-5deg);}
    50% {transform: rotate(5deg);}
    60% {transform: rotate(-5deg);}
    70% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    90% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}
#replay{
    width: 200px;
    height: 80px;
    background:  #1e293b;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    font-size: 20px;    
    text-transform: uppercase;
    color: white;
    transition: 0.3s;
    box-shadow: 2px 3px 30px rgb(42, 42, 109) inset,
    2px 3px 40px rgba(255, 255, 255, 0.719) inset,
    2px 3px 20px rgba(255, 255, 255, 0.719) ,
    ;

}
#replay:hover{
    box-shadow: 2px 3px 30px rgb(42, 42, 109) ,
    2px 3px 20px rgba(97, 97, 97, 0.719)  ,
    2px 3px 40px rgba(27, 25, 25, 0.719) , ;
    background-color: #2727272f;
}


.declare{
    position: absolute;
    bottom: 200px;
    font-weight: 600;
    font-size: 100px;
    opacity: 0;
   z-index: 1;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: rgb(8, 44, 248);
   text-shadow: 0 0 10px;
   text-transform: uppercase;
 


}


